/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body{
	font-size: 1em;
	line-height: 1.6em;
	background-color: #efefef;
	color: #333;
}
/* a{
	color: #fff;
	text-decoration: none;
} */
a:hover{
	color: #444;
	background-color: #efefef;
}
.content{
	width: 980px;
	margin: 0 auto;
	padding: 60px 40px;
	background-color: #fff;
}
h1{
	margin-bottom: 2em;
	font-size: 1.6em;
	text-align: center;
}
h2{
	margin-bottom: 1em;
	font-size: 1.3em;
}

/* Menu */

header{
	/* todo: delete margin-bottom: 13em; */
	position: relative;
	width: 100%;
	background-color:#444444c7;
}
ul > li{
	display: inline-block;
}
ul > li > a{
	padding: 15px 30px;
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: .2em;
}
ul > li > span{
	margin-left: 1.2em;
}
ul > li:hover > a{
	background-color: #efefef;
	color: #444;
}

/* Submenu */

ul li ul{
	position: absolute;
	top: 55px;
	left: 0;
}
ul li ul li{
	display: block;
}
ul li ul li a{
	background-color: #efefef;
	color: #444;
}
ul li ul li a:hover{
	background-color: #ddd;
}

/*	Sample01
------------------------------------------*/

.sample01 ul li ul{
	display: none;
}
.sample01 ul li:hover ul{
	display: block;
}

/*	Sample02
------------------------------------------*/

.sample02 ul li ul li{
	height: 0;
	overflow: hidden;

}
.sample02 ul li:hover ul li{
	height: auto;
	overflow: visible;
}

/*	Sample03
------------------------------------------*/

.sample03 ul li ul{
	position: absolute;
	top: -1000px;
}
.sample03 ul li:hover ul{
	top: 55px;
}




/*----- #TODO: user情報ページ用スタイル -----*/
.user_main {
  display: flex;
}

.main {
  width: 100%;
}

/*----- #TODO: side_nav用スタイル -----*/
.side {
  width: 20vw;
  padding: 24px 30px;
  order: -1;
}
.side_nav ul {
  display: flex;
  padding-left: 0;
  flex-direction: column;
}
.side_nav ul > li {
  flex-basis: 20%;
  max-width: 174px;
}
.side_nav a {
  color: #333;
  font-size: 1em;
  text-decoration: none;
  position: relative;
  line-height: 1.5
}
.side_nav a.active {
    color: #4a90e2;
}
.side_nav a.active:after {
  content: '';
  position: absolute;
  top: auto;
  bottom: auto;
  right: 12px;
  display: inline-block;
  width: 3px;/*線の太さ*/
  height: 1.5em;/*線の長さ*/
  background-color: #4a90e2;/*線の色*/
}

.tokyo{
	color:black !important;
}

/* 写真 */

.card-img-top {
  width: 300px
  
}

.picture{
	width: 300px	
}

.card-img-top2{
	width: 150px
}



